[submodule "projects/subapp_vue_demo"]
	path = projects/subapp_vue_demo
	url = git@github.com:threfo/subapp_vue_demo.git
[submodule "projects/master_vue_demo"]
	path = projects/master_vue_demo
	url = git@github.com:threfo/master_vue_demo.git
[submodule "projects/btp_f_master"]
	path = projects/btp_f_master
	url = git@github.com:threfo/btp_f_master.git
[submodule "projects/btp_frontend"]
	path = projects/btp_frontend
	url = git@github.com:threfo/btp_frontend.git
